<div class="container mt-3">
  <h1>New user</h1>

  <div class="row">
    <div class="col-md-6">
      <%= render "form", user: @user %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <%= link_to "Back", users_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
